<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<body>
<table class="table">
    <thead>
    <tr>
        <td>상품이미지</td>
        <td>상품명</td>
        <td>상태</td>
        <td>가격</td>
    </tr>
    </thead>
    <tbody>
        <div th:if="${wishItem != null}">
            <tr th:each="item, status: ${wishItem.getContent()}">
                <td>
                    <img th:src="${item.imgUrl}" th:alt="${item.name}" width="100px" height="100px">
                </td>
                <td th:text="${item.name}">
                    <!--                    <a th:href="'/admin/item/'+${item.id}" th:text="${item.itemNm}"></a>-->

                </td>
                <td th:text="${item.itemSellStatus == T(project.vinyl.constant.ItemSellStatus).SELL} ? '판매중' : '품절'"></td>
                <td th:text="${item.price}"></td>
            </tr>
        </div>
    </tbody>


</table>

</body>
</html>