<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16"
          th:href="@{/img/logo_font_gray.png}" href="../img/logo_font_gray.png">
    <link rel="stylesheet" href="/css/postDetailView.css">
</head>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<body>
<nav class="navbar navbar-expand bg-light justify-content-between">
    <div class="container-fluid justify-content-start">
        <a class="navbar-brand" href="#" th:href="@{/}">
            <img src="/img/logo_font_gray.png" alt="HiVinyl" width="50" height="50">
        </a>
        <div class="" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-link" href="#">중고거래</a>
                <a class="nav-link" href="#">가계부</a>
                <a class="nav-link active" aria-current="page" th:href="@{/search}">가격비교</a>
                <a class="nav-link" href="../post/list.html" th:href="@{/post}">자유게시판</a>
            </div>
        </div>
    </div>
    <ul>
        <a href="#" >
            <img src="/img/user-solid.svg" alt="user" width="50" height="50" class="mt-3 pe-3">
        </a>
    </ul>
</nav>

<form th:object="${itemDetail}" role="form" method="post">
    <input type="hidden" th:name="itemId" th:value="${itemDetail.id}">
    <input type="hidden" th:name="sellerId" th:value="${itemDetail.sellerId}">
    <div class="name">
        <div class="contentName">
            <div class="mainName">중고 거래</div>
            <div class="detailName">글 보기</div>
        </div>
    </div>
    <div class="vinylInfo">
        <img class="picBox" th:src="${itemDetail.imgUrlList[0]}" th:alt="${itemDetail.name}">
        <ul class="detailInfo">
            <li>
                <div class="detailLabel singerLabel">제목</div>
                <div class="detail singer" th:text="${itemDetail.name}"></div>
            </li>
            <!--<li>
                <div class="detailLabel albumLabel">앨범</div>
                <div class="detail album">Lover</div>
            </li>-->
            <li>
                <div class="detailLabel priceLabel">가격</div>
                <div class="detail price" th:text="${itemDetail.price}">00,000원</div>
            </li>
            <li>
                <div class="detailLabel gradeLabel">상태</div>
                <div class="detail grade" th:if="${itemDetail.itemSellStatus == T(project.vinyl.constant.ItemSellStatus).SELL}">
                    판매중
                </div>
                <div class="detail grade" th:unless="${itemDetail.itemSellStatus == T(project.vinyl.constant.ItemSellStatus).SELL}">
                    품절
                </div>
            </li>
        </ul>
    </div>
    <div class="mt-3" style="padding-left: 130px">
        <div th:if="${itemDetail.itemSellStatus == T(project.vinyl.constant.ItemSellStatus).SELL}" >
            <button th:formaction="@{/setWishItem(itemId=${itemDetail.id})}" class="btn btn-outline-secondary">찜하기</button>
            <button type="submit" class="btn btn-outline-primary" formaction="/message" >쪽지하기</button>
        </div>
        <div th:unless="${itemDetail.itemSellStatus == T(project.vinyl.constant.ItemSellStatus).SELL}">
            <button type="submit" class="btn btn-outline-warning">품절</button>
        </div>
    </div>

    <div class="vinylNote">
        <div class="vinylTxt" th:text="${itemDetail.details}">판매자가 작성한 메모</div>
    </div>
    <div th:each="itemImg : ${itemDetail.imgUrlList}" class="text-center mb-4">
        <img th:if="${not #strings.isEmpty(itemImg)}" th:src="${itemImg}" class="rounded">
    </div>
</form>
<div>

</div>

</body>
</html>