<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16"
          th:href="@{/img/logo_font_gray.png}" href="../img/logo_font_gray.png">
    <title>HiVinyl</title>
</head>
<body>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }
        });

        function deletePost() {
            const id = [[ ${post.id} ]];
            if ( !confirm(id + "번 게시글을 삭제할까요?") ) {
                return false;
            }

            const formHtml = `
                    <form id="deleteForm" action="/post/${id}/delete" method="post">
                        <input type="hidden" id="id" name="id" value="${id}" />
                    </form>
                `;
            const doc = new DOMParser().parseFromString(formHtml, 'text/html');
            const form = doc.body.firstChild;
            document.body.append(form);
            document.getElementById('deleteForm').submit();
        }

        function deleteComment(commentId, postId) {
            // /comment/${commentId}/delete
            // const postId = [[ ${post.id} ]];
            if ( !confirm("댓글을 삭제할까요?") ) {
                return false;
            }

            const formHtml = `
                    <form id="deleteComment" action="/comment/${commentId}/delete/${postId}" method="post">
                        <input type="hidden" id="commentId" name="commentId" value="${commentId}" />
                    </form>
                `;
            const doc = new DOMParser().parseFromString(formHtml, 'text/html');
            const form = doc.body.firstChild;
            document.body.append(form);
            document.getElementById('deleteComment').submit();

        }
    </script>
</th:block>

<nav class="navbar navbar-expand bg-light">
    <div class="container-fluid justify-content-start">
        <a class="navbar-brand ms-2" href="#" th:href="@{/}">
            <img th:src="@{/img/name_black.png}" alt="HiVinyl" width="77" height="56">
        </a>
        <div class="" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-link" th:href="@{/}">중고거래</a>
                <a class="nav-link" th:href="@{/ledger/getList}">가계부</a>
                <a class="nav-link" th:href="@{/search}">가격비교</a>
                <a class="nav-link active" aria-current="page" th:href="@{/post}">자유게시판</a>
            </div>
        </div>
        <a class="ms-auto me-2" th:href="@{/myPage}">
            <img th:src="@{/img/user-solid.svg}" alt="myPage" width="20" height="20">
        </a>
    </div>
</nav>

<div class="container">

    <div class="py-3 text-start row align-items-center">
        <div class="col">
            <h6>자유 게시판</h6>
            <p class="text-secondary m-0 d-block"></p>
        </div>
        <div class="col-auto" th:if="${loginMember.id == post.member.id}">
            <button class="btn btn-secondary"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/post/{postId}/edit(postId=${post.id})}'|"
                    type="button">게시글 수정</button>
        </div>
            <div class="col-auto" th:if="${loginMember.id == post.member.id}">
                <button class="btn btn-light"
                        onclick="deletePost()" th:onclick="|deletePost();|"
                        type="button">게시글 삭제</button>

            </div>
        </div>
    </div>

    <div class="container bg-light rounded-3">
        <div class="fs-5 py-2">
            <strong th:text="${post.title}"></strong>
        </div>

        <div class="text-secondary ">
            <span th:text="|${post.member.name}|" class="px-1"></span>
            <span th:text="|조회수 ${post.hits}|" class="px-1"></span>
            <span th:text="${#temporals.format(post.regTime,'yyyy.MM.dd HH:mm')}" class="px-1"></span>
        </div>
        <div class="py-3">
            <div>
                <textarea th:text="${post.content}" rows="5" class="form-control" readonly
                          style="resize: none"></textarea>
            </div>
<!--            <input type="text" id="postContent" name="postContent" class="form-control" value="content" th:value="${post.content}" readonly>-->
        </div>
    </div>

<!--댓글 영역-->

    <div class="card my-3 p-0 container">
        <div class="card-header bg-light">댓글 작성</div>
        <div class="card-body">
            <form th:action="@{/comment/{postId}/register(postId=${post.id})}" th:object="${commentFormDto}" method="post">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-0">
                        <div class="row">
                            <div class="col">
                                <label for="comment" class="d-none">comment</label>
                                <textarea id="comment" th:field="*{comment}" class="form-control" rows="1" style="resize: none"></textarea>
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-dark">등록</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </form>

        </div>
    </div>

    <div class="card mb-4 p-0 container" th:if="${commentExist}">
        <div class="card-header" th:text="|댓글 ${commentList.size()}개|">댓글</div>
        <ul id="comment-box" class="list-group" th:each="comment : ${commentList}">
            <li id="comment-1" class="list-group-item justify-content-between">
                <div class="d-flex">
                    <div class="text-monospace me-3" th:text="${comment.member.name}"></div>
                    <div th:if="${loginMember.id == comment.member.id}">
                        <button class="badge text-bg-secondary pr-1">수정</button>
                        <button th:onclick="|deleteComment('${comment.id}', '${post.id}');|" class="badge text-bg-secondary btn-sm">삭제</button>
                    </div>
                    <div class="ms-auto me-1" th:text="${#temporals.format(post.updateTime,'yyyy.MM.dd HH:mm')}"></div>
                </div>
                <label for="commentView" class="d-none">comment</label>
                <textarea id="commentView" th:field="*{comment}" class="form-control" rows="1" style="resize: none" readonly></textarea>
            </li>
        </ul>
    </div>

</div> <!-- /container -->
</body>
</html>