<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }
        });
    </script>
</th:block>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>게시글 목록</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-secondary float-start"
                    onclick="location.href='home.html'"
                    th:onclick="|location.href='@{/}'|"
                    type="button">메인화면</button>
        </div>
        <div class="col">
            <button class="btn btn-dark float-end"
                    onclick="location.href='registerPostForm.html'"
                    th:onclick="|location.href='@{/post/register}'|"
                    type="button">게시글 작성</button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>no</th>
                <th>제목</th>
                <th>글쓴이</th>
                <th>조회수</th>
                <th>작성시간</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${postList}">
                <td th:text="${post.id}">회원id</a></td>
                <td><a href="getPost.html" th:href="@{|/post/${post.id}|}" th:text="${post.title}">제목</a></td>
                <td th:text="${post.name}">writer</td>
                <td th:text="${post.hits}">0</td>
                <td th:text="${#temporals.format(post.regTime,'yyyy.MM.dd HH:mm')}">00/00</td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->

</body>
</html>