<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16"
          th:href="@{/img/logo_font_gray.png}" href="../img/logo_font_gray.png">
    <title>HiVinyl</title>
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand bg-light">
    <div class="container-fluid justify-content-start">
        <a class="navbar-brand ms-2" href="#" th:href="@{/}">
            <img th:src="@{/img/name_black.png}" alt="HiVinyl" width="77" height="56">
        </a>
        <div class="" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-link" th:href="@{/}">중고거래</a>
                <a class="nav-link" th:href="@{/ledger/getList}">가계부</a>
                <a class="nav-link" th:href="@{/search}">가격비교</a>
                <a class="nav-link active" aria-current="page" th:href="@{/post}">자유게시판</a>
            </div>
        </div>
        <a class="ms-auto me-2" th:href="@{/myPage}">
            <img th:src="@{/img/user-solid.svg}" alt="myPage" width="20" height="20">
        </a>
    </div>
</nav>

<div class="container">

    <div class="py-3 text-start row align-items-center">
        <div class="col">
            <h6>자유 게시판</h6>
            <p class="text-secondary m-0 d-block">게시글 작성</p>
        </div>

        <form action="getPost.html" th:action th:object="${postFormDto}" method="post" class="my-2">

            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
            </div>

            <div class="my-2">
                <label for="title" class="d-none">제목</label>
                <input type="text" id="title" th:field="*{title}" class="form-control"
                       placeholder="제목을 입력하세요." th:errorclass="field-error">
                <div class="field-error" th:errors="*{title}" />
            </div>
            <div>
                <label for="content" class="d-none">내용</label>
                <textarea rows="5" id="content" th:field="*{content}" class="form-control"
                          placeholder="내용을 입력하세요." th:errorclass="field-error">
                </textarea>
                <div class="field-error" th:errors="*{content}" />
            </div>
            <div class="row my-4">
                <div class="col">
                    <button class="w-100 btn btn-secondary btn-lg" type="submit">게시글 등록</button>
                </div>
                <div class="col">
                    <button class="w-100 btn btn-light btn-lg"
                            onclick="location.href='items.html'"
                            th:onclick="|location.href='@{/post}'|"
                            type="button">취소</button>
                </div>
            </div>

        </form>
    </div>
</div> <!-- /container -->
</body>
</html>