<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="16x16"
        th:href="@{/img/logo_font_gray.png}" href="../img/logo_font_gray.png">
  <title>HiVinyl</title>
</head>
<body>
<nav class="navbar navbar-expand bg-light">
  <div class="container-fluid justify-content-start">
    <a class="navbar-brand ms-2" href="#" th:href="@{/}">
      <img th:src="@{/img/name_black.png}" alt="HiVinyl" width="77" height="56">
    </a>
    <div class="" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-link" th:href="@{/}">중고거래</a>
        <a class="nav-link" href="#">가계부</a>
        <a class="nav-link" th:href="@{/search}">가격비교</a>
        <a class="nav-link" th:href="@{/post}">자유게시판</a>
      </div>
    </div>
    <a class="ms-auto me-2" th:href="@{/myPage}">
      <img th:src="@{/img/user-solid.svg}" alt="myPage" width="20" height="20">
    </a>
  </div>
</nav>

<div class="container" style="max-width: 600px">
  <h4 class="my-3" th:text="|${member.name}님 환영합니다|">로그인 사용자 이름</h4>

  <hr class="my-4">

  <div class="row">
    <div class="col">
      <button class="w-100 btn btn-secondary btn-lg" type="button"
              th:onclick="|location.href='@{/members/delete}'|">
        회원탈퇴
      </button>
    </div>
    <div class="col">
      <form th:action="@{/logout}" method="post">
        <button class="w-100 btn btn-dark btn-lg" onclick="location.href='items.html'" type="submit">
          로그아웃
        </button>
      </form>
    </div>
  </div>

</div> <!-- /container -->

</body>
</html>