<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HiVinyl</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16"
          th:href="@{/img/logo_font_gray.png}" href="../img/logo_font_gray.png">
    <style>
        input:focus-visible {
            outline: none;
        }
        .img-button {
            background: none;
            border: none;
            width: 30px;
            height: 30px;
            position: relative;
            right: 40px;
            bottom: 2px;
            padding: 0px 5px 5px 5px;
        }
    </style>
</head>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<body>
<nav class="navbar navbar-expand bg-light">
    <div class="container-fluid justify-content-start">
        <a class="navbar-brand ms-2" href="#" th:href="@{/}">
            <img th:src="@{/img/name_black.png}" alt="HiVinyl" width="77" height="56">
        </a>
        <div class="" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" th:href="@{/}">중고거래</a>
                <a class="nav-link" th:href="@{/ledger/getList}">가계부</a>
                <a class="nav-link" th:href="@{/search}">가격비교</a>
                <a class="nav-link" th:href="@{/post}">자유게시판</a>
            </div>
        </div>
        <a class="ms-auto me-2" th:href="@{/myPage}">
            <img th:src="@{/img/user-solid.svg}" alt="myPage" width="20" height="20">
        </a>
    </div>
</nav>

<main class="container">
    <div class="py-3 text-start row align-items-center">
        <div class="col">
            <h6>중고 거래</h6>
            <p class="text-secondary m-0">최신글 보기</p>
        </div>
        <div class="col-auto">
            <form th:action="@{/}" method="get">
                <div>
                    <input name="searchQuery" type="search" placeholder="Search" aria-label="Search"
                        style="border: gray 1px solid; border-radius: 30px;" class="form-control-sm px-2 py-1">
                    <button type="submit" class="img-button">
                        <img src="/img/magnifying-glass-solid.svg" alt="">
                    </button>
                </div>
            </form>
        </div>
    </div>
    <ul class="list-unstyled d-table container">
        <th:block th:unless="${items.getContent().isEmpty()}">
            <th:block th:each="item, status: ${items.getContent()}">
                    <li th:onclick="|location.href='@{|/item/${item.id}|}'|"
                        th:title="${item.name}" class="d-inline-block m-3" style="cursor:pointer;">
                        <img th:src="${item.imgUrl}" th:alt="${item.name}" width="200px" height="200px" style="object-fit: contain; border-radius: 0.375rem; margin-bottom: 5px;">
                        <div style="width: 200px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap">[[${item.name}]]</div>
                        <div class="float-end">[[${item.price}]]원</div>
                    </li>
            </th:block>
        </th:block>
        <th:block th:if="${items.getContent().isEmpty()}">
            <div class="container d-flex justify-content-center">
                검색 결과가 없습니다.
            </div>
        </th:block>
    </ul>
</main>

</body>
</html>