<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/postView.css">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16"
          th:href="@{/img/logo_font_gray.png}" href="../img/logo_font_gray.png">
</head>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<body>
<nav class="navbar navbar-expand bg-light">
    <div class="container-fluid justify-content-start">
        <a class="navbar-brand ms-2" href="#" th:href="@{/}">
            <img th:src="@{/img/name_black.png}" alt="HiVinyl" width="77" height="56">
        </a>
        <div class="" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-link" th:href="@{/}">중고거래</a>
                <a class="nav-link" th:href="@{/ledger/getList}">가계부</a>
                <a class="nav-link" th:href="@{/search}">가격비교</a>
                <a class="nav-link" th:href="@{/post}">자유게시판</a>
            </div>
        </div>
        <a class="ms-auto me-2" th:href="@{/myPage}">
            <img th:src="@{/img/user-solid.svg}" alt="myPage" width="20" height="20">
        </a>
    </div>
</nav>

<main>
    <div class="name">
        <div class="contentName">
            <div class="mainName" style="font-size: 25px">중고 거래</div>
            <div class="detailName">최신글 보기</div>
        </div>
        <div class="additional">
            <form th:action="@{/}" method="get">
                <div class="searchBox postSearch">
                    <input name="searchQuery" type="search" placeholder="Search" aria-label="Search" class="search">
                    <button type="submit" class="img-button ms-2">
                        <img src="/img/magnifying-glass-solid.svg" alt="">
                    </button>
                </div>
            </form>
        </div>
    </div>
    <ul class="postList">
        <th:block th:unless="${items.getContent().isEmpty()}">
            <th:block th:each="item, status: ${items.getContent()}">
                <div class="post">
                    <a th:href="'/item/' +${item.id}" class="text-dark">
                        <img th:src="${item.imgUrl}" th:alt="${item.name}" >
                        <div class="title">[[${item.name}]]</div>
                        <div class="price">[[${item.price}]]원</div>
                    </a>
                </div>
            </th:block>
        </th:block>
        <th:block th:if="${items.getContent().isEmpty()}">
            <div class="container d-flex justify-content-center">
                검색 결과가 없습니다.
            </div>
        </th:block>
    </ul>
</main>

</body>
</html>