
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="16x16"
        th:href="@{/img/logo_font_gray.png}" href="../img/logo_font_gray.png">
  <title>HiVinyl</title>
  <style>
    .container {
      max-width: 370px;
    }
    .field-error {
      border-color: #dc3545;
      color: #dc3545;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand bg-light">
  <div class="container-fluid justify-content-start">
    <a class="navbar-brand ms-2" href="#" th:href="@{/}">
      <img th:src="@{/img/name_black.png}" alt="HiVinyl" width="77" height="56">
    </a>
    <div class="" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-link" th:href="@{/}">중고거래</a>
        <a class="nav-link" href="#">가계부</a>
        <a class="nav-link" th:href="@{/search}">가격비교</a>
        <a class="nav-link" th:href="@{/post}">자유게시판</a>
      </div>
    </div>
    <a class="ms-auto me-2" th:href="@{/myPage}">
      <img th:src="@{/img/user-solid.svg}" alt="myPage" width="20" height="20">
    </a>
  </div>
</nav>

<div class="container">

  <div class="py-3 text-center">
    <h4>로그인</h4>
  </div>

  <form th:action th:object="${loginFormDto}" method="post">

    <div th:if="${#fields.hasGlobalErrors()}">
      <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
    </div>

    <div class="row mb-2">
      <label for="loginId" class="col-sm-4 col-form-label">로그인 ID</label>
      <div class="col-sm-8">
        <input type="text" id="loginId" th:field="*{loginId}" class="form-control-sm form-control"
               th:errorclass="field-error">
        <div class="field-error" th:errors="*{loginId}" />
      </div>
    </div>
    <div class="row">
      <label for="password" class="col-sm-4 col-form-label">비밀번호</label>
      <div class="col-sm-8">
        <input type="password" id="password" th:field="*{password}" class="form-control-sm form-control"
               th:errorclass="field-error">
        <div class="field-error" th:errors="*{password}" />
      </div>
    </div>
    <div class="row my-4">
      <div class="col">
        <button class="w-100 btn btn-outline-secondary" type="button"
                th:onclick="|location.href='@{/members/add}'|">
          회원 가입
        </button>
      </div>
      <div class="col">
        <button class="w-100 btn btn-secondary" type="submit">로그인</button>
      </div>
    </div>
  </form>

</div> <!-- /container -->
</body>
</html>