<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<div th:each="tmp, status: ${clist}">
    <div th:if="${session.nick != tmp.sendMemberName}">
        <div class="incoming_msg mb-3">
            <div class="incoming_msg_img">
<!--                <a href="other_profile.do?other_nick=${tmp.send_nick }">-->
<!--                    <img src="./upload/profile/${tmp.profile }" alt="보낸사람 프로필">-->
<!--                </a>-->
            </div>
            <div class="received_msg">
                <div class="received_withd_msg">
                    <p th:text="${tmp.content}"></p>
                </div>
            </div>
        </div>
    </div>
    <div th:unless="${session.nick != tmp.sendMemberName}">
        <div class="outgoing_msg">
            <div class="sent_msg">
                <p th:text="${tmp.content}"></p>
            </div>
        </div>
    </div>
</div>

</html>